/* 

margins: 1 | 15 | 10

padding: 13 | 6 | 2 | 1.3 | 3.5 | 7

font-size: 4.15| 1.8 | 3.5 | 1.7 | 2.5 | 1.4 | 1.9 | 1.5

border-radius: 3rem

line-height: 1.8 | 2 |

*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --color-primary-one: hsl(171, 66%, 44%);
  --color-primary-two: hsl(233, 100%, 69%);
  --color-neautral-one: hsl(210, 10%, 33%);
  --color-neautral-two: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.container {
  padding-top: 13rem;
  max-width: 50%;
  margin: 0 auto;
}

.logo {
  width: 19%;
}

.heading {
  font-size: 4.15rem;
  padding-top: 6rem;
  color: var(--color-neautral-one);
}

.title {
  font-size: 1.9rem;
  padding-top: 2rem;
  color: var(--color-neautral-two);
}

.btn {
  padding-top: 6rem;
}

.btn-primary {
  padding: 1.3rem 3.5rem;
  font-size: 1.8rem;
  border-radius: 3rem;
  color: white;
  font-weight: 600;
}

.btn-ios {
  background-color: var(--color-primary-one);
  border: 1px solid var(--color-primary-one);
}

.btn-mac {
  background-color: var(--color-primary-two);
  border: 1px solid var(--color-primary-two);
  margin-left: 1rem;
}

.snippets,
.clipboard,
.download {
  margin-top: 15rem;
}

.about-snippets,
.about-clipboard,
.about-download {
  max-width: 50%;
}

.snippet-heading,
.clipboard-heading,
.workflow-heading,
.download-heading {
  font-size: 3.5rem;
  color: var(--color-neautral-one);
  padding-bottom: 2rem;
}

.snippet-paragraph,
.clipboard-paragraph,
.workflow-paragraph,
.download-paragraph {
  font-size: 1.7rem;
  color: var(--color-neautral-two);
  line-height: 1.8;
  padding-bottom: 7rem;
}

.features {
  gap: 6rem;
}

.computer-img {
  width: 65%;
  position: relative;
  left: -3%;
}

.feature {
  max-width: 60%;
  padding-bottom: 6rem;
  margin: 0 auto;
}

.feature h3,
.workflow-feature h3 {
  font-size: 2.5rem;
  color: var(--color-neautral-one);
  padding-bottom: 1.3rem;
}

.feature p,
.workflow-feature p {
  font-size: 1.4rem;
  color: var(--color-neautral-two);
  line-height: 2;
}

.workflow {
  margin-top: 8rem;
}

.workflow-paragraph {
  font-size: 1.85rem;
}

.workflow-features {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.workflow-feature img {
  width: 40px;
  padding-bottom: 3.5rem;
}

.workflow-feature h3 {
  padding-bottom: 1.5rem;
  font-size: 2.1rem;
}

.workflow-feature p {
  max-width: 330px;
  font-size: 1.5rem;
}

.featured,
.footer {
  margin-top: 15rem;
}

.wrapper {
  max-width: 80%;
}

.download-paragraph {
  padding-bottom: 0;
}

.footer {
  background-color: hsla(201, 11%, 66%, 0.1);
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer-info,
.contact {
  display: flex;
  justify-content: center;
  gap: 30rem;
}

.footer-logo {
  width: 54px;
  height: 52px;
}

.contact {
  gap: 10rem;
}

.contact-part div {
  font-size: 1.7rem;
  color: var(--color-neautral-one);
  padding-bottom: 2rem;
}

.social {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.mr {
  margin-right: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */

@media (max-width: 768px) {
  header {
    background-image: url("../images/bg-header-mobile.png");
  }

  .logo {
    width: 50%;
  }

  .container,
  .about-snippets,
  .about-clipboard,
  .about-download,
  .feature,
  .workflow-feature p {
    max-width: 90%;
  }

  .heading {
    font-size: 3.2rem;
    font-weight: 900;
  }

  .title {
    font-size: 1.75rem;
  }

  .btn-primary {
    display: block;
    margin-bottom: 2.5rem;
  }

  .btn-mac {
    margin-left: 0;
  }

  .snippet-heading,
  .clipboard-heading,
  .workflow-heading,
  .download-heading {
    font-size: 3rem;
  }

  .snippet-paragraph,
  .clipboard-paragraph,
  .workflow-paragraph,
  .download-paragraph {
    font-size: 1.75rem;
  }

  .feature {
    margin: 0 auto;
  }

  .computer-img {
    position: static;
  }

  .feature h3,
  .workflow-feature h3 {
    text-align: center;
  }

  .feature p,
  .workflow-feature p {
    text-align: center;
    font-size: 1.7rem;
  }

  .workflow-feature p {
    margin: 0 auto;
  }

  .device-img {
    width: 100%;
  }

  .workflow-paragraph {
    font-size: 1.9rem;
  }

  .workflow-features {
    flex-direction: column;
  }

  .wrapper {
    gap: 6rem;
  }

  .download-paragraph {
    font-size: 1.76rem;
  }

  .btn-m {
    max-width: 90%;
    margin: 0 auto;
  }

  .footer-info,
  .contact {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0rem;
  }

  .contact-part div {
    padding-bottom: 3rem;
  }

  .contact-part div:last-child {
    margin-right: 0;
  }

  .footer-logo {
    margin-bottom: 3rem;
  }

  .mr {
    margin-right: 3rem;
  }
}
